<html>
  <head>
    <title>Mini Messageboard</title>
  </head>
  <body>
    <h1>Mini Messageboard</h1>
    <% messages.forEach(message => {%> <%- include('message',{message}) %>
    <%});%>
    <a href="/new">Add New Message</a>
  </body>
</html>
